/* header */
#header {
  border-bottom: 2px solid $light_grey;

  .container {
    padding-top: 0px;
    /*padding-bottom: 15px;*/
  }

  .site-branding {
    float: left; /* ltr */
    margin-right: 60px;

    img {margin-bottom: 0px;}
  }

  .block-search {
    float: left; /* ltr */
    margin-left: 15px; /* ltr */
    margin-top: 30px;
    height: 30px;

    h2, .content {
      float: left;
    }

    h2 {
      font-size: 18px;
    }

    a {
      color: $dark_grey;

      &:before {
        content: none;
      }
    }

    #search-block-form {
      &:after {
        position: absolute;
        left: -15px; /* ltr */
      }
    }
  }

  .block-social-media-links {
    float: right; /* ltr */
    margin-top: 30px;

    .content {
      float: left;
    }

    h2 {
      float: left;
      font-size: 18px;
      margin-top: 5px; 
      margin-right: 10px; /* ltr */
    }

    a {
      color: $gold;
      font-size: 18px;

      .fa-facebook {
        color: #3b5998;
      }
      .fa-twitter{
        color: #1DA1F2;
      }
      .fa-snapchat {
        /*color: #FFFC00;*/
      }
      .fa-instagram {
        color: #262626;
      }
      &:before {
        content: none;
      }
    }
  }

  .region-header {
    &:before, &:after {
      display: none;
    }
  }

}

/* search */
#search-block-form {
  height: 32px;
  width: 249px;
  padding: 4px 5px;
  position: relative;

  &:before {
    @include fontawesome;
    content: "\f002";
    font-size: 18px;
    top: 7px;
    color: #bebebe;
    z-index: 1;
    float: left; /* ltr */
    margin-top: 3px;
  }

  .form-item {
    margin: 0;
  }

  .form-search {
    background: none;
    border: none;
    padding: 2px 4px 4px;
    width: 198px;
    text-indent: 5px;
    color: #bebebe;
    font-style: italic;
  }

  .button {
    margin: 0;
    float: right;
    background: none;
    z-index: 1;
    border: none;
    width: 17px;
    height: 25px;
    text-indent: -999em;
    color: #bebebe;
  }

  .form-actions {
    position: relative;
    z-index: 5;
  }
}


.search-block-form{
  &.contextual-region{
    position: static;
  }
}

