/* header */
#header {
  border-bottom: 2px solid $light_grey;

  .container {
    padding-top: 0px;
    padding-bottom: 15px;
  }

  .site-branding {
    float: left;
    margin-right: 76px;
  }

  .block-search, 
  .block-social-media-links {
    float: right; /* ltr */
    margin-top: 30px;

    h2, .content {
      float: left;
    }
    h2 {
      font-size: 18px;
    }
    a {
      color: $dark_grey;

      &:before {
        content: none;
      }
    }
  }

  .region-header {
    &:before, &:after {
      display: none;
    }
  }

}

/* search */
#search-block-form {
  height: 32px;
  width: 249px;
  padding: 4px 5px;
  position: relative;

  &:after {
    @include fontawesome;

    content: "\f002";
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 7px;
    color: #bebebe;
    z-index: 1;
  }

  .form-item {
    margin: 0;
  }

  .form-search {
    background: none;
    border: none;
    padding: 2px 4px 4px;
    width: 198px;
    text-indent: 5px;
    color: #bebebe;
    font-style: italic;
  }

  .button {
    margin: 0;
    float: right;
    background: none;
    z-index: 1;
    border: none;
    width: 17px;
    height: 25px;
    text-indent: -999em;
    color: #bebebe;
  }

  .form-actions {
    position: relative;
    z-index: 5;
  }
}


.search-block-form{
  &.contextual-region{
    position: static;
  }
}

#block-languagedropdownswitcher {
  float: left; /* ltr */
  margin: 30px;
  select {
    padding: 0;
    background: transparent;
  }
}