.forum {
  background: rgba(0, 0, 0, 0) url("../images/bg-info-2.jpg") repeat scroll 0 0;
  border: medium none;
  margin-bottom: 30px;
  padding: 28px;

  .submitted {
    color: #cccccc !important;
  }

  table {
    width: 100%;
    margin: {
      bottom: 30px;
    };
  }

  th {
    padding: 7px;
    border-bottom: 2px solid  #555;
    color: #fff;
  }

  td {
    padding: 7px;
  }

  tbody {
    tr {
      background-color: #333;
      border-bottom: 1px solid #555;
    }
  }
}



/*--chrome only--*/
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  .path-user .collapse-processed > summary
  {
    color: #000;
    &:before{
      display: none;
    }
  }
}
blockquote {
  border: none;
  width: 475px;
  position: relative;
  padding: 0;
  left: -50px; /* ltr */
  float: left; /* ltr */

  p {
    font-size: 30px;
    color: $grey_font_header;
  }


  &:before {
    color: #ccc;
    content: open-quote;
    font-size: 70px;
    position: absolute;
    left: -30px; /* ltr */
    top: -20px;
  }
}
.pager { display: none;}
.more-link {
  text-align: center !important;

  a {
    padding: 9px 118px 3px;
    font-size: 28px;
    font-weight: bold;
    border: 1px solid #000000;
    color: black;
  }
}
/* Share everywhere */
.se-block  {
  margin-top: 4px;
  &:hover {
    .se-links-container{
      display: block !important;
    }
    .se-container{
      background: gray;
    }
  }
  .block-content {
    .se-container {
      height: 40px;
      float: right !important;
      width: auto;
      margin-top: -15px;
      text-align: center;
      .se-trigger {
        width: 50px !important;
        float: none !important;
        img {
          margin-top: 15px;
          margin-bottom: 0;
        }
      }
      .se-links-container{
        display: none;
        overflow: visible;
        width: auto;
        margin: 0 !important;
        float: none !important;
        bottom: 35px;
        ul.se-links {
          text-align: center !important;
          height: auto;
          bottom: 0;
          -webkit-animation-duration: 0s;
          -moz-animation-duration: 0s;
          -o-animation-duration: 0s;
          animation-duration: 0s;
          -webkit-animation-iteration-count: 1;
          -moz-animation-iteration-count: 1;
          -o-animation-iteration-count: 1;
          animation-iteration-count: 1;
          -webkit-animation-timing-function: linear;
          -moz-animation-timing-function: linear;
          -o-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-direction: alternate;
          -moz-animation-direction: alternate;
          -o-animation-direction: alternate;
          animation-direction: alternate;
          -webkit-animation-fill-mode: forwards;
          -moz-animation-fill-mode: forwards;
          -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
          li{
            width: 50px !important;
            padding: 10px;
            background: grey;
          }
          .se-link img {
            height: 20px; 
            margin-bottom: 0px;
          }
        }
      } 
    }
  }
}