/* Woman Profile */
.page-node-type-woman-profile {
  .layout__region {
    padding: 0 20px;
  }

  .layout__region--first:after {
    content : "";
    position: absolute;
    margin-top: 50px;
    height  : 1px;
    width   : 45%;  /* or 100px */
    border-bottom:1px solid $gold;
  }

  .field--name-node-title {
    h1, .h1 {
      text-align: center;
      margin-top: 90px;
      margin-bottom: 30px;
    }
  }

  .field--name-field-subtitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: $grey_font_header;
    margin-bottom: 30px;
  }

  .field--type-text-with-summary {
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
  }

  ul.social-media-links--platforms {
    text-align: center;

    a {
      padding: 0 5px;
      font-size: 18px;
      font-weight: bold;

      .fa {
        color: $grey_font_header;
      }
    }
  }
}
