/* Woman Profile */
.page-node-type-woman-profile {

  .layout__region--bottom:before {
    content : "";
    position: absolute;
    height  : 1px;
    width   : 45%;  /* or 100px */
    border-bottom:1px solid $gold;
    margin-top: -60px;
    left: 20px; /* ltr */
  }
}
.page-node-type-woman-profile {

  .layout__region {
    padding: 0 20px;
  }
  .layout__region--second {
    margin-bottom: 40px;
  }


  .field--name-node-title {
    h1, .h1 {
      text-align: center;
      margin-top: 90px;
      margin-bottom: 30px;
    }
  }

  .vocabulary-woman-title h2 a,
  .field--name-field-subtitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: $grey_font_header;
    margin-bottom: 30px;
  }

  .field--type-text-with-summary {
    font-size: 22px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
  }
  .field--name-field-biography {
    font-size: 22px;
    color: #555555;
    line-height: 37px;
    margin-bottom: 40px;
  }

  ul.social-media-links--platforms {
    float: none;
    text-align: center;

    a {
      padding: 0 5px;
      font-size: 18px;
      font-weight: bold;

      .fa {
        color: $grey_font_header;
      }
    }
  }
}

.path-women-profiles {
  h2{
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: $grey_font_article;
    border-bottom: 1px solid $gold;
    padding-bottom: 18px;
    margin-top: 48px;
    margin-bottom: 44px;
  }
  .view-header{
    &:before, &:after {
      content: none;
    }
  }
  .view-content {
    margin-bottom: 0px;
  }
}