/* */
$red: #f53e3e;
$white: #fff;
$black: #000;
$dark: #141414;
$gold: #B69235;
$grey: #CCC;
$dark_grey: #595959;
$grey_font_header: #9B9B9B;
$grey_font: #4A4A4A;
$grey_font_article: #555555;
$light_grey: #DDDCDC;
$grey_tag_background: #F0F0F0;
$grey_tag_title: #BBBBBB;
$sub_menu_bg: #785A0C;
$sub_menu_active: #6C510B;
$menu_color: #424242;

$link-color: $gold;

$default_color: $grey_font;

/*  */
%box_shadow {
  box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
}

%border_radius {
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

%font_oswald {
  font-family: 'oswaldregular';
}


%font_english {
  font-family: Helvetica,Arial,freesans,sans-serif;
}


[class*="nc-icon"] {
  span {
    display: none;
  }
}

/* BUTTON */

.form-submit {
  margin: 0 10px 10px 0;
  /*border: 1px solid black;*/
  border-radius: 4px;
  padding: 7px 80px;
  color: #000;
  cursor: pointer;
  background: white;

  &:first-child {
    margin: 0 10px 10px 0;
  }
}

%button_effect {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  &:hover, &:focus, &:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

%button_effect_2 {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  &:hover, &:focus, &:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

%button_effect_3 {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}